body{
  background-repeat:repeat;
  background-size: 100% auto;
  /* background-image: url("/Test13/css/image/a3.jpg"); */
}
.btn-size{
	width: 200px;
}
img{ 
	width:75px;
	height:75px;
	border-radius:50% 50%;
	margin-left: 20px;
	}
.div-wz{
	float: right;
	margin-right: 150px;
	margin-top: 250px;
}
.lg{
	float:right;
	width:400px;
	height:300px;
	margin-top:230px;
	margin-right:50px;
	background: rgba(10, 10, 10, 0.17);
	border-radius: 10px;
}
.btn-size{
	width: 250px;
}
.pwd,.name{
	margin-top:40px;
	margin-left:70px;
	font-size: 20px;
	margin-bottom: 12px;
	letter-spacing: 1px;
}
.username,.password{
	width:200px;
	height:30px;
	border:2px solid black;
	letter-spacing: 1px;
}
.li{
	background-color:#46f55b;
	margin-top:40px;
	margin-left:150px;
	width:100px;
	height:30px;
}